*{

    margin: 0px ;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

#container1{
    z-index:10;
    position: fixed;
     display: grid;
    grid-template-columns: repeat(4,200px);
      background-color: black;
       width:100%;
       height: 30px;

}
#container1 div a{
    font-size:17px ;
   color: aliceblue;
   text-transform: uppercase;

}

a{
    margin-left: 300px;
    margin-top: 5px;
    position: absolute;
}

#container1 div a:hover{
    color: burlywood;
    transform: scale(1.1,1.1);

}
#container2 img{
width: 1262px;
height: 576px;
z-index: -1;
position: sticky;   
 
}


#container3{
z-index: 1;
position: sticky; 
top:50px;
display: grid;
grid-template-columns: repeat(3,400px);
grid-template-rows: repeat(3,250px);
gap: 20px;
height: 600px;
margin-top: 10px;
}

#container3 img{

    width: 300px;
    height: 200px;
}

#container3 p{
    z-index: -10;

    line-height: 30px;
    width: 300px;
}

#container3 .para1{

    margin-left: 100px;
}
#backery{

    position: absolute;
    z-index: 1;
    margin-top:-500px;
    margin-left: 230px;

}
#backery a p{
      
      font-size: 30px;
      width: 300px;
    color: aliceblue;
    text-transform: uppercase;
}
#container4{
   background-color:dimgrey;
    width: 1262px;
    height: 579px;
    z-index: 1;
    position: sticky;   
}

#container4 #final{

   display:grid ;
   grid-template-columns:repeat(3,400px);
   grid-template-rows: repeat(3,100px);
   position: absolute;
   margin-top: 100px;
   margin-left: -100px;


}
 #container4 a h1{

  color: black;
  font-size: 25px;
  text-shadow: 7px 7px 7px  ;
      
 }   
 #container4 a h1:hover{
    
      transition: 2s;
   color: aliceblue;
      transform: rotateX(360deg);
   }   

#container4 #final p{
    width: 300px;
   margin-left: 240px;

}